<div class= "container">
  <header class= "jumbotron">
    <p id="navbar">navbar</p>
    <h1 id="logo">BUSTLE</h1>
    <p id="social-media">social media</p>
  </header>
    {{outlet}}
  <hr>
  <footer>
  </footer>
</div>
